body{
    background-color: #5d5e5a;
    font-family: Arial, sans-serif;
    margin:5px;
    padding: 10px;
    color: #389ba0;
    line-height: 1.6;
    }
 nav{
    background-color: #d5f5b8;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    }
    a{
        color: #389ba0;
        text-decoration: none;
        margin: 0 10px;
        justify-content: center;
    }
    a:hover{
        color: #100f0f; 
    }
    div{
        background-color: #9d8e8e;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 10px 20px 50px rgba(248, 247, 247, 0.1);
        border-radius: 20px;
      }

      .profile-pic {
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 300px;
        border-radius: 50%;
        object-position: center;
      }
            
       header{
        background-color: white;
        padding: 0px;
        text-align: center;
        font-size: 18px;
        font-weight: bold; 
        color: #000100;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 20px;
        }
   /*   .header h1{
        font-size: 16px;
        font-weight: bold;
        text-decoration-color: #0fcf0f;
        margin: 0;
        padding: 30px;
      }
      .header p{
        font-size: 18px;
        margin: 0;
        padding: 10px;
      }
      .content{
        background-color: #9d8e8e;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 10px 20px 50px rgba(248, 247, 247, 0.1);
      }
        */

 